@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/* margin/padding/borders for all elements set to zero */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #222831;
    background-color: #EEEEEE;
}

/* logo and headings */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #393E46;
}

.h1-color-2 {
    color: #00ADB5;
}

#logo {
    padding-left: 20px;
    float: left;
    font-size: 250%;
    font-weight: 700;
    text-shadow: 2px 2px 2px #000000;
}

/* navigation links */

#menu, #logo {
    line-height: 75px;
    background-color: #EEEEEE;
}

#menu {
    font-size: 120%;
    display: flex;
    flex-direction: row;
    float: right;
}

#menu a {
    color: #222831;
    text-decoration: none;
}

#menu a:hover {
    color: #00ADB5;
}

.active-page {
    border-bottom: 2px solid #00ADB5;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
}

/* main image under header with added text */

#main-image {
    background: url(../images/snowy-mountain.jpg) no-repeat bottom center;
    background-color: #EEEEEE;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#hero {
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

#main-image-text h2 {
    color: #222831;
    text-shadow: 1px 1px 3px #ffffff;
    background-color: orange;
    margin-bottom: 10px;
}

#main-image-text {
    font-family: Montserrat, sans-serif;
    color: #222831;
    font-size: 180%;
    text-shadow: 1px 1px 3px #ffffff;
    text-align: center;
    width: 600px;
    height: 150px;
    border-radius: 25px;
    border: 4px inset #00ADB5;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -320px;
    position: absolute;
}

/* columns and rows */

.column {
    float: left;
    width: 25%;
    height: 200px;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px #222831;
    border-radius: 25px;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    padding-top: 10px
}

.column h2 {
    position: absolute;
    top: 20px;
    text-align: center;
    background-color: orange;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.column :hover {
    opacity: 0.3;
}

/* contact section */

#contact {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(grey, black);
    background-color: #393E46;
}

#contact h2 {
    color: #EEEEEE;
    text-align: center;
    text-transform: none;
    text-shadow: 2px 2px 2px #222831;
    padding-bottom: 20px;
}

#contact h3 {
    color: #EEEEEE;
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    color: #EEEEEE;
}

td {
    border: 1px solid #00ADB5;
}

/* footer and social media icons */

footer {
    height: 75px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: #00ADB5;
}

/* media queries */

/* for screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #situations {
        width: 65%;
        margin: 0 auto;
    }

    .column {
        width: 100%;
        height: 300px;
        float: none;
        margin-bottom: 20px;
    }

    .column h2 {
        font-size: 200%;
    }

    .row {
        display: block;
        margin-bottom: -10px;
    }

    #contact {
        margin-top: 30px;
    }

    .table {
        width: 30%;
    }
}

/* for screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .table {
        width: 40%;
    }

    .column {
        width: 100%;
        height: 200px;
        float: none;
        margin-bottom: 20px;
    }

    .column h2 {
        font-size: 170%;
    }
}

/* for screen sizes from 800px wide and down */ 
@media screen and (max-width: 800px) {
    #main-image-text {
        width: 60%;
        height: 25%;
        margin-top: -100px;
        margin-left: -240px;
        font-size: 100%;
    }

    #hero {
        height: 500px;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
    }

    .column h2 {
        font-size: 125%;
    }

    .column {
        width: 100%;
        height: 150px;
}

/* for screen sizes from 480px wide and down */ 
@media screen and (max-width: 480px) {
    #main-image-text {
        width: 75%;
        height: 120px;
        font-size: 100%;
        top: 50%;
        left: 50%;
        margin-top: -75px;
        margin-left: -160px;
        padding: 10px;
        position: absolute;
    }

    #hero {
        height: 300px;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
    }

    #menu {
        font-size: 90%;
    }

    .column {
        width: 100%;
        height: 125px;
        float: none;
        margin-bottom: 20px;
    }

    .column h2 {
        font-size: 100%;
    }

    #contact {
        font-size: 80%;
    }
    
    .table {
        width: 60%;
    }
}