@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/* margin/padding/borders for all elements set to zero */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #222831;
    background-color: #EEEEEE;
}

/* logo and headings */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #393E46;
}

.h1-color-2 {
    color: #00ADB5;
}

#logo {
    padding-left: 20px;
    float: left;
    font-size: 250%;
    font-weight: 700;
    text-shadow: 2px 2px 2px #000000;
}

/* navigation links */

#menu, #logo {
    line-height: 75px;
    background-color: #EEEEEE;
}

#menu {
    font-size: 120%;
    display: flex;
    flex-direction: row;
    float: right;
}

#menu a {
    color: #222831;
    text-decoration: none;
}

#menu a:hover {
    color: #00ADB5;
}

.active-page {
    border-bottom: 2px solid #00ADB5;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
}

/* main image under header with added text */

#main-image {
    background: url(../images/snowy-mountain.jpg) no-repeat bottom center;
    background-color: #EEEEEE;
    width: 100%;
    height: 600px;
}

#hero {
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

#main-image-text h2 {
    color: #222831;
    text-shadow: 1px 1px 3px #ffffff;
    background-color: orange;
    margin-bottom: 10px;
}

#main-image-text {
    font-family: Montserrat, sans-serif;
    color: #222831;
    font-size: 170%;
    text-shadow: 1px 1px 3px #ffffff;
    text-align: center;
    width: 600px;
    height: 150px;
    border-radius: 25px;
    border: 4px inset #00ADB5;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 200px;
    right: 420px;
    position: absolute;
}

/* columns and rows */

.column {
    float: left;
    width: 25%;
    height: 200px;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px #222831;
    border-radius: 25px;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    padding-top: 10px
}

.column h2 {
    position: absolute;
    top: 20px;
    text-align: center;
    background-color: orange;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.column :hover {
    opacity: 0.8;
}

/* contact section */

#contact-image {
    background: url(../images/contact-us.jpg) no-repeat center center;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#contact {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 200px;
}

#contact h2 {
    color: #222831;
    text-align: center;
    text-transform: none;
    text-shadow: 1px 1px 1px #222831;
    padding-bottom: 20px;
    font-size: 150%;
}

#contact h3 {
    color: #222831;
    text-align: center;
    font-size: 150%;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    color: #222831;
}

td {
    border: 2px solid #00ADB5;
}

/* footer and social media icons */

footer {
    height: 75px;
    background-color: #393E46;
    margin-top: 20px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 5px;
    color: #ffffff;
}

.copyright {
    background-color: #393E46;
    text-align: center;
    color: #EEEEEE;
    padding-bottom: 20px;
}

/* media queries */

/* for screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #situations {
        width: 65%;
        margin: 0 auto;
    }

    #main-image-text {
        width: 60%;
        height: 140px;
        font-size: 150%;
        right: 0;
        bottom: 220px;
        padding: 10px;
        margin-right: 200px;
        position: absolute;
    }

    .column {
        width: 100%;
        height: 250px;
        float: none;
        margin-bottom: 20px;
    }

    .column h2 {
        font-size: 140%;
    }

    .row {
        display: block;
        margin-bottom: -10px;
    }

    #contact {
        margin-top: 30px;
    }

    .table {
        width: 40%;
    }

    #row2 {
        width: 100%;
        height: auto;
        margin-left: 25%;
    }
}

/* for screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #hero {
        height: 500px;
        width: 100%;
    }

    #main-image-text {
        width: 75%;
        height: 130px;
        font-size: 120%;
        right: 0;
        bottom: 180px;
        margin-right: 80px;
        position: absolute;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .table {
        width: 50%;
    }

    .column {
        width: 100%;
        height: 200px;
        float: none;
        margin-bottom: 20px;
    }

    .column h2 {
        font-size: 170%;
    }

    .img {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

/* for screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #main-image-text {
        width: 75%;
        height: 120px;
        font-size: 100%;
        right: 0;
        bottom: 120px;
        margin-right: 60px;
        position: absolute;
    }

    #hero {
        height: 400px;
        width: 100%;
    }

    #menu {
        font-size: 100%;
    }

    .column {
        width: 100%;
        height: 125px;
        float: none;
        margin-bottom: 20px;
    }

    .column h2 {
        font-size: 100%;
    }

    #contact {
        font-size: 80%;
    }
    
    .table {
        width: 60%;
    }

    .img {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .copyright {
        font-size: 75%;
    }
}

@media screen and (max-width: 500px) {


}

/* emergency situation page */

.situations {
    width: 100%;
    height: auto;
    display: inline-block;
}

#help {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 40px;
}

#help > h2 {
    text-transform: capitalize;
    margin-bottom: 40px;
}

#button {
    background-color: orange;
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #EEEEEE;
    font-size: 24px;
    border-radius: 25px;
    padding: 20px;
}

#button:hover {
    background-color: rgb(247, 190, 85);
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #EEEEEE;
    font-size: 24px;
    border-radius: 25px;
    padding: 20px;
}


